* {
    /* border: 1px solid blue; */
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
#statement {
    width: 960px;
    margin: 45px auto;
    border: 1px solid lightgray;
}
#statement > * {
    width: 600px;
    margin: 60px auto;
}
.title > * {
    text-align: center;
    letter-spacing: 3px;
}
.title h1 {
    font-size: 40px;
}
.title h2 {
    color: #006eb6;
    font-size: 18px;
}
.content li {
    margin: 18px 0;
}
.logo img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.dark {
    background-color: #333;
}
.dark :is(h1, p, li, label) {
    color: white;
}
.dark .title h2 {
    color: #4f9acf;
}